[submodule "bitcoin/libbase58"]
	path = bitcoin/libbase58
	url = https://github.com/bitcoin/libbase58.git
[submodule "test/framework"]
	path = test/framework
	url = https://github.com/google/googletest.git
